
.resume-box {
    border: 3px solid var(--primary-color);
    padding: 0px 0px;
    border-radius: 15px;
    width: 100%;
    padding: 50px;
}

.resume-box span {
    font-size: 17px;
    color: var(--primary-color);
}

.resume-box p {
    opacity: 0.7;
}

.form-check label {
    width: 400px;
}

input[type=checkbox] {
    -webkit-transform: scale(2);
    background-color: transparent;
}

form-check-input{
    background-color: #ee1c25;
}


